<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="prova70m">
            <h2><span jhiTranslate="nextrainingApp.prova70m.detail.title">Prova 70 M</span> {{prova70m.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nextrainingApp.prova70m.dataProva">Data Prova</span></dt>
                <dd>
                    <span>{{prova70m.dataProva}}</span>
                </dd>
                <dt><span jhiTranslate="nextrainingApp.prova70m.tempo">Tempo</span></dt>
                <dd>
                    <span>{{prova70m.tempo}}</span>
                </dd>
                <dt><span jhiTranslate="nextrainingApp.prova70m.partenzaBlocchi">Partenza Blocchi</span></dt>
                <dd>
                    <span>{{prova70m.partenzaBlocchi}}</span>
                </dd>
                <dt><span jhiTranslate="nextrainingApp.prova70m.velMax">Vel Max</span></dt>
                <dd>
                    <span>{{prova70m.velMax}}</span>
                </dd>
                <dt><span jhiTranslate="nextrainingApp.prova70m.commento">Commento</span></dt>
                <dd>
                    <span jhiTranslate="{{'nextrainingApp.Feedback.' + prova70m.commento}}">{{prova70m.commento}}</span>
                </dd>
                <dt><span jhiTranslate="nextrainingApp.prova70m.condClimatiche">Cond Climatiche</span></dt>
                <dd>
                    <span>{{prova70m.condClimatiche}}</span>
                </dd>
                <dt><span jhiTranslate="nextrainingApp.prova70m.calciatore">Calciatore</span></dt>
                <dd>
                    <div *ngIf="prova70m.calciatore">
                        <a [routerLink]="['/calciatore', prova70m.calciatore?.id, 'view']">{{prova70m.calciatore?.cognome}} {{prova70m.calciatore?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/prova-70-m', prova70m.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
